
{% extends "layout.html" %}

{% block content %}

{% for category in cat %}
{% if category[5] %}
<div class="main-row">
  <div class="jumbotron">
    <div class="container">

      <div class="row">
	<div class="category-title col-md-2">
	  {% if category[1] == "novemportis" %}
	    <a class="track-name ancientgeek" data-toggle="collapse" href="#{{ category[1] }}">{{ category[2] }}</a>
	  {% else %}
	    <a class="track-name" data-toggle="collapse" href="#{{ category[1] }}">{{ category[2] }}</a>
	  {% end %}
	</div> <!-- category-title -->
	<div class="col-md-9 col-xs-10">
	  <div class="progress">
	    <div id="challenge-pb" class="progress-bar" role="progressbar" aria-valuenow="{{ (category[4]/category[5])*100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ (category[4]/category[5])*100 }}%;">
	      {{ int((category[4]/category[5])*100) }}%
	    </div>
	  </div>
	</div> <!-- col -->
	<div class="score col-md-1 col-xs-1">{{ category[4] }}/{{ category[5] }}</div>
      </div><!-- row -->
      <div class="row">
	<div class="chal-desc col-md-10 col-md-offset-2">
	  {% raw category[3] %}
	</div>
      </div><!-- row -->
      <div id="{{ category[1] }}" class="collapse row">
	<table class="table">
	  <thead>
	    <tr>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  {% for challenge in chal %}
	  {% if challenge[6] == category[0] %}
	  <tr>
	    <td>
	      {% if challenge[8] %} 
	      <i class="fa fa-check" style="color: green;"></i>
	      {% else %}
	      <i class="fa fa-times" style="color: red;"></i>
	      {% end %}
	    </td>
	    <td class="flag-name">{{ challenge[1] }}</td>
	    <td>{{ challenge[4] }}pts</td>
	    <td>{{ challenge[9] }}</td>

	    <td>{% raw challenge[2] %}</td>
	  </tr>
	  {% end %}
	  {% end %}
	  </tbody>
	</table>
      </div><!--category -->
    </div><!-- container -->
  </div><!-- jombo -->
</div><!-- row -->
{% end %}
{% end %}

{% end %}
