
{% extends "layout.html" %}

{% block content %}

<div class="row">
  <div class="container">
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <div id="chart_div" style="height: 700px;"></div>
    <script type="text/javascript" src="/static/js/dashboard.js"></script>
    <script type="text/javascript">
      google.setOnLoadCallback(drawChart({% raw jsArray %}));
    </script>
  </div>
</div>

<div class="row">
  <div class="jumbotron">
    <div class="container">
      <h3>Sponsors</h3>
      {% for sponsor in sponsors %}
      <img src="{{ sponsor }}">
      {% end %}
    </div>
  </div>
</div>
{% end %}
