<div class="main-row">
  <div class="jumbotron">
    <div class="container">
      {% try %}
      {% if flag_is_valid %}
      <div class="alert alert-success" role="alert">{{ submit_message }}</div>
      {% else %}
      <div class="alert alert-danger" role="alert">{{ submit_message }}</div>
      {% end %}
      {% except %}
      {% end %}
      
      <form method="POST">
	    <div class="col-md-1">
	      <h3>Flag</h3>
    	</div>
    	<div class="col-md-11">
    	    <div class="input-group flag-input">
    	      <input type="text" name="flag" class="form-control"  placeholder="Your flag">
              {% module xsrf_form_html() %}
    	      <span class="input-group-btn">
           		<button class="btn btn-default" type="submit">Submit</button>
    	      </span>
    	    </div><!-- /input-group -->
    	</div>    
      </form>
    </div>
  </div>
</div>
