{% extends "layout.html" %}

{% block content %}
<div class="main-row">
  <div class="jumbotron">
    <div class="container">
      {% if submit_message %}
      <div class="alert alert-danger" role="alert"> {{ submit_message }} </div>
      {% end %}

    	<div class="col-md-1">
    	  <h3>Login</h3>
    	</div>

        <form action="/auth/login" method="POST">
          <input placeholder="Team Name" class="form-control" name="team_name"
                 type="text" value="{{ form["name"] }}"/><br>
          <input placeholder="Password" class="form-control" name="team_pwd"
                 type="password" value="{{ form["pwd"] }}"/><br>
          {% module xsrf_form_html() %}
          <input type="submit" class="btn btn-default">
        </form>
        {% end %}
    </div>
  </div>
</div>
