
{% extends "layout.html" %}

{% block content %}

<div class="row main-row">
    <div class="jumbotron" style="overflow:auto;">
      <div class="container">
    	<h3 class="hf-green">General Informations</h3>
    	<div class="text-justify">
            Welcome to Hackfest 2016 CTF. We hope you’ll enjoy!<br/><br/>
    	</div>
    	<div class="text-justify">
    
    	  Your tasks is to complete the different challenge.
    	  You will find all challenge on the scoreboard.
    	  Once you complete a challenge, you’ll find a flag which can be submitted.
            <ul>
              <li>Flags are obtained by solving challenges.</li>
              <li>They can be submitted once.</li>
            </ul>
    	</div>
      </div> <!-- End container -->

      <div class="container">
    	<h3 class="hf-green">Rules</h3>
    	<div>
    	  <ul>
    	    <li>All challenges are under ctf.hf TLD. (ex: misc01.ctf.hf)</li>
    	    <li>Never attack hf TLD. (ex: scoreboard.hf, dns.hf, irc.hf)</li>
    	    <li>Never attack a system outside the environment (ie. not *ctf.hf)</li>
    	    <li>DOS by saturation & Deleting flags & Sharing flags = Disqualification!</li>
    	  </ul>
    	</div>
    	<h3 class="hf-green">Help?</h3>
    	<div>
    	  Join the irc://irc.smashthestack.org, chan: #hackfest
    	</div>
      </div> <!-- End container -->
    </div> <!-- End jumbotron -->
</div> <!-- End main-row -->

{% end %}
