
{% extends "layout.html" %}

{% block content %}

<div class="row main-row">
  <div class="col-md-4">
    <div class="jumbotron" style="height:500px; overflow:auto;">
      <div class="container">
	<h3 class="hf-green">General Informations</h3>
	<h5 class="hf-orange">Intro</h5>
	<div class="text-justify">
	  Welcome to iHack 2015 CTF.
	  We hope you’ll enjoy!
	</div>
      </div>
    </div>
  </div>
  
  <div class="col-md-8">
    <div class="jumbotron" style="height:500px; overflow:auto;">
      <div class="container">
	<h3 class="hf-green">Your tasks</h3>
	<div class="text-justify">
	  Your tasks is to complete the different challenge.
	  You will find all challenge on the scoreboard.
	  Once you complete a challenge, you’ll find a flag which can be submitted.
        <ul>
          <li>Flags are obtained by solving challenges.</li>
          <li>They can be submitted once.</li>
          <li>Format is: FLAG-[a-zA-Z0-9]{32,60}</li>
        </ul>

	</div>
      </div>
    </div>
  </div>
</div>

<div class="row main-row">
  <div class="col-md-4">
    <div class="jumbotron" style="height:400px; overflow:auto;">
      <div class="container">
	<h3 class="hf-green">Scoring system</h3>
	<h5 class="hf-orange">URL :  <a href="http://scoreboard.hf">http://scoreboard.hf</a></h5>
	<div class="text-justify">
	  You can submit your flag directly on the scoreboard or download the command line script to push your flag and more <a href="https://scoreboard.hf/public/player.tar.gz">https://scoreboard.hf/public/player.tar.gz</a>
	</div>
	<h5 class="hf-orange">Integrity Check</h5>
	<div>
	  The scoreboard is signed by HF CA, which can be downloaded <a href="https://scoreboard.hf/public/hf.ca.root.crt">here</a><br><br> HF CA fingerprint: D7 7F D8 4D A2 84 4B 63 12 58 11 B8 77 94 C6 CD
B9 38 23 82 50 6A A3 E8 86 83 25 4D 9C E2 7A 0A
	</div>
	<h5 class="hf-orange">Need help? IRC!</h5>
	<div>
	  Join the irc://irc.hf, chan: #ihack
	</div>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="jumbotron" style="height:400px; overflow:auto;">
      <div class="container">
	<h3 class="hf-green">man 42 CTF</h3>
	<h5 class="hf-orange">Rules</h5>
	<div>
	  <ul>
	    <li>All challenges are under ctf.hf TLD. (ex: misc01.ctf.hf)</li>
	    <li>Never attack hf TLD. (ex: scoreboard.hf, dns.hf, irc.hf)</li>
	    <li>Never attack a system outside the environment (ie. not *ctf.hf)</li>
	    <li>DOS by saturation & Deleting flags = Disqualification!</li>
	  </ul>
	</div>
      </div>
    </div>
  </div>
</div>

{% end %}
