
{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="table-responsive table-score">
    <table class="table table-hover">
      <thead>
	<tr>
	  <th>Position</th>
      <th>Team</th>
	  <th>Cash</th>
      <th>Flags</th>
	</tr>
      </thead>
      <tbody>
	{% for index, row in enumerate(score_table, start=1) %}
	{% if team_name == row[1] %}
	<tr class="team-highlight">
	{% else %}
	<tr>
	{% end %}
	  <td>{{ index  }}</td>
      <td>{{ row[1] }}</td>
	  <td>{{ row[5] }}</td>
	  <td>{{ row[4] }}</td>
	</tr>
	{% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %}
