
{% extends "layout.html" %}

{% block content %}
<div class="container">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
	<tr>
          <th>Team</th>
          <th>Flags</th>
	  <th>King Flags</th>
	  <th>Total</th>
	</tr>
      </thead>
      <tbody>
	{% for row in score_table %}
	<tr>
          <td>{{ row[1] }}</td>
	  <td>{{ row[2] }}</td>
	  <td>{{ row[3] }}</td>
	  <td>{{ row[4] }}</td>
	</tr>
	{% end %}
      </tbody>
    </table>
  </div>
</div>
{% end %}
