
{% extends "layout.html" %}

{% block content %}
<div class="row main-row">
    <div class="jumbotron" style="overflow:auto;">
      <div class="container">
        <h3 class="hf-green">Team secrets</h3>
        <div class="table-responsive table-score">
          <table class="table table-hover">
            <thead>
            	<tr>
            	  <th>#</th>
            	  <th>Name</th>
                  <th>Value</th>
            	</tr>
            </thead>
            <tbody>
      	{% for index, row in enumerate(secrets_table, start=1) %}
      	<tr>
      	  <td>{{ index  }}</td>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
      	</tr>
      	{% end %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="jumbotron" style="overflow:auto;">
      <div class="container">
    	<h3 class="hf-green">General Informations</h3>
    	<div class="text-justify">
    
    	  Your tasks is to complete the multiple challenges.
    	  You will find all challenges on the scoreboard.
    	  Once you complete a challenge, you’ll find a flag which can be submitted.
            <ul>
              <li>Flags are obtained by solving challenges.</li>
              <li>They can be submitted once.</li>
            </ul>
    	</div>
      </div> <!-- End container -->

      <div class="container">
    	<h3 class="hf-green">Rules</h3>
    	<div>
    	  <ul>
    	    <li>Do not attack the scoreboard</li>
    	    <li>DOS by saturation & Deleting flags = Disqualification!</li>
    	  </ul>
    	</div>
    	<h3 class="hf-green">Help?</h3>
    	<div>
    	  Join the irc://irc.smashthestack.org, chan: #hackfest
    	</div>
      </div> <!-- End container -->
    </div> <!-- End jumbotron -->
</div> <!-- End main-row -->
{% end %}
